@{
    ViewBag.Title = "Contato - Gerenciador de Eventos";
}

<main>
    <section class="row" aria-labelledby="contatoTitle">
        <h1 id="contatoTitle">Contato</h1>
        <p>Se você tiver alguma dúvida ou precisar de mais informações, não hesite em entrar em contato!</p>
    </section>

    <section class="row" aria-labelledby="sobreMimTitle">
        <h2 id="sobreMimTitle">Sobre Mim</h2>
        <p>Meu nome é <strong>João Victor</strong>.</p>
        <p>Você pode me contatar pelo e-mail: <a href="mailto:joaovictorpfr@gmail.com">joaovictorpfr@gmail.com</a></p>
        <p>Veja meu trabalho no meu GitHub: <a href="https://github.com/JoaoIto" target="_blank">github.com/JoaoIto</a></p>
    </section>
</main>
